<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>

    <header class='demos-header'>
      <h1 class="demos-title">移动报表</h1>
      <!--<p class='demos-sub-title'>轻量强大的UI库，不仅仅是 WeUI</p>-->
    </header>

    <div class="weui-cells__title">分类一</div>
    <div class="weui-cells demos-report-list">
      <a href="yunfengbi-report.html"><span class="weui-badge">销售报表</span></a>
      <a href="yunfengbi-report.html"><span class="weui-badge">财务报表</span></a>
      <a href="yunfengbi-report.html"><span class="weui-badge">预算报表123123</span></a>
      <a href="yunfengbi-report.html"><span class="weui-badge">预算报表343</span></a>
      <a href="yunfengbi-report.html"><span class="weui-badge">预算报表</span></a>
    </div>

    <div class="weui-cells__title">分类二</div>
    <div class="weui-cells demos-report-list">
      <a href="yunfengbi-report.html"><span class="weui-badge">销售报表</span></a>
      <a href="yunfengbi-report.html"><span class="weui-badge">财务报表</span></a>
      <a href="yunfengbi-report.html"><span class="weui-badge">预算报表</span></a>
    </div>

    <div class="weui-footer">
      <p class="weui-footer__links">
        <a href="http://jqweui.com" class="weui-footer__link">云峰数据中心 移动报表</a>
      </p>
      <p class="weui-footer__text">Copyright © 2018 bi.yunfengholding.com</p>
    </div>

    <style>
      .weui-footer {
        margin: 25px 0 10px 0;
      }
    </style>


    <% include _foot.html %>
  </body>

</html>
